body {
    z-index: 0;
}

body .mobileMenutrue {
    margin-top: 200px;
}

body .mobileMenufalse {
    margin-top: 200px;
}

body h1 {
    font-family: 'RockSalt';
    color: #2b808c;
    text-align: center;
    padding: 50px;
}

.recipeGrid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-items: center;
    width: max-content;
    margin: 0 auto;
}

.recipeTile {
    width: 200px;
    text-align: center;
    z-index: 0;
    font-family: 'RockSalt'
}

.recipeTile h2 {
    color: #7210cc;
    margin: 5px auto;
    text-align: left;
}

.recipeTile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(25%);
}

.recipeTile p {
    text-align: left;
    font-size: 11px;
}

.recipeTile .summary {
    position: absolute;
    transform: translateY(-105px);
    font-size: 10px;
}

.recipeTile .summary p {
    margin: 5px;
    color: black;
    font-weight: bolder;
    text-shadow: 2px 2px 1px white;
}

.recipeTile .detailsfalse {
    display: none;
}

.recipeTile .detailstrue {
    display: block;
    text-align: left;
    font-size: 12px;
}

.recipeTile ul, .recipeTile ol {
    padding-left: 20px;
}
